<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{title}}</h1>
    <ul>
        <h3>{{data1[0].name}}</h3>
        <li>{{data1[0].age}}</li>
        <li>{{data1[0].job}}</li>
    </ul>
    <ul>
        <h3>{{data1[1].name}}</h3>
        <li>{{data1[1].age}}</li>
        <li>{{data1[1].job}}</li>
    </ul>
    <ul>
        <h3>{{data1[2].name}}</h3>
        <li>{{data1[2].age}}</li>
        <li>{{data1[2].job}}</li>
    </ul>
</body>
</html>